header {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    color: #fff;
    background: linear-gradient(-90deg, #0000001a, #00000081), url(../assets/header-unsplash.png) no-repeat center/cover;
}

#header__section {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#map__image {
    display: none;
}

#heading__text {
    text-transform: capitalize;
    font: 700 1.8rem/1.4 Inter, sans-serif;
}

#map__filter__div {
    margin-top: 10px;
}

#form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 0.78rem;
    border-radius: 0.35rem;
}

.select {
    height: 40px;
    outline: 0;
    background: #F9F9F9;
    color: #737373;
    border: 1px solid #E6E6E6;
    transition: all 0.35s;
}

.select:hover {
    border-color: #23A6F0;
}

.select.types {
    border-radius: 0.3rem 0 0 0.3rem;
}

#form #searchBtn {
    display: grid;
    place-items: center;
    border-radius: 0 0.3rem 0.3rem 0;
    background: #23A6F0;
    height: 40px;
    width: 40px;
}

#search__icon {
    rotate: -90deg; /* id gotten from svg*/
}

#form #searchBtn:hover {
    opacity: 0.8;
}

#search__icon {
    color: #fff;
    font-size: 15px;
}

@media screen and (min-width: 800px) {
    #map__image {
        display: inline-block;
        width: 300px;
    }

    #header__section {
        flex-direction: row;
        width: 700px;
    }

    #heading__text {
        text-transform: capitalize;
        font-size: 2.2rem;
    }

    #map__filter__div {
        width: 50%;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #form {
        width: 90%;
    }

    .select {
        width: 120px;
        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    #map__image {
        width: 400px;
    }

    #header__section {
        width: 900px;
    }

    #heading__text {
        font-size: 2.6rem;
    }

    .select {
        width: 150px;
    }
}