header {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    color: #fff;
    background: linear-gradient(-90deg, #0000001a, #00000081), url(../assets/header-unsplash.png) no-repeat center/cover;
}

#header__section {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#map__image {
    display: none;
}

#heading__text {
    text-transform: capitalize;
    font: 700 1.8rem/1.4 'georgia', sans-serif;
}

#map__filter__div {
    margin-top: 10px;
    background-color: #fff;
    padding: 0.78rem;
    border-radius: 0.35rem;
}

#form {
    display: flex;
    align-items: center;
    justify-content: center;
}

#form *:not(:last-child) {
    margin-right: 5px;
}

.select {
    height: 40px;
    outline: 0;
    border-color: #60acf8;
    border-radius: 0.35rem;
    transition: all 0.35s;
}

.select:focus, .select:hover {
    border-color: #a6a6b4;
}

#form #searchBtn {
    display: grid;
    place-items: center;
    padding: 0.5rem;
    background: #60acf8;
}

#form #searchBtn:hover {
    opacity: 0.8;
}

#search__icon {
    color: #fff;
    font-size: 20px;
}

@media screen and (min-width: 800px) {
    #heading__text {
        text-transform: capitalize;
        font: 600 2rem/1.4 'georgia', sans-serif;
    }
}