header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
    color: #fff;
    background: linear-gradient(-90deg,#0000001a, #00000081), url(./sands_design.jpeg) no-repeat center/cover;
}

#map__filter__div {
    display: none;
}

#heading__text {
    text-transform: capitalize;
    font: 700 1.8rem/1.5 'georgia',sans-serif;
}

@media screen and (min-width: 700px) {
    #map__filter__div {
        display: block;
    }
}