* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
  border-radius: 0.3rem;
  padding: 0.3rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.colorme {
  color: #F4511E;
}

li {
  list-style: none;
}

.danger {
  color: #ff0000;
  background-color: hsla(0, 100%, 50%, 0.019);
  border: 1px solid #ff0000;
  border-radius: 0.4rem;
  font-size: 0.89rem;
  font-weight: 500;
  width: 80%;
  padding: 0.3rem 0.5rem;
  text-transform: none;
  text-align: center;
}