#main__content {
    padding: 2rem 0.7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#minimum__article {
    text-transform: capitalize;
    min-height: 100vh;
}

#minimum__text {
    font: bolder 1.05rem sans-serif;
}

#underline {
    height: 1px;
    width: 110px;
    background: #F4511E;
    margin-top: 2px;
}

#swimming__image {
    width: 100%;
    height: 45vh;
}

#aside {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 30px;
}

.pay {
    display: flex;
    align-items: center;
}

.icons {
    color: #F4511E;
    padding: 0.4rem;
    box-shadow: -1px -1px 2px #57575749, 3px 5px 2px #5353535d;
    border-radius: 0.25rem;
    width: 30px;
    height: 30px;
}

.tag__line {
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 5px;
}

@media screen and (min-width: 500px) {
    #minimum__text {
        font: bolder 1.15rem sans-serif;
    }

    #underline {
        width: 188px;
    }

    #swimming__image {
        height: 50vh;
    }

    #aside {
        padding: 0.5rem;
    }

    .icons {
        padding: 0.5rem;
        width: 35px;
        height: 35px;
    }

    .tag__line {
        font-size: 0.96rem;
        margin-left: 10px;
    }
}

@media screen and (min-width: 768px) {

    #main__content {
        padding: 3rem 0 0;
    }

    #minimum__article {
        width: 97%;
    }

    #minimum__text {
        font: bolder 1.5rem sans-serif;
        translate: 4% 0;
    }

    #underline {
        translate: 18% 0;
        width: 245px;
    }

    #aside {
        grid-template-columns: repeat(3, 1fr);
        gap: 35px 15px;
    }

    #image__aside {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }

    .pay {
        flex-direction: column;
        align-items: flex-start;
    }

    .tag__line {
        font-size: 0.9rem;
        margin-left: 0;
        margin-top: 5px;
    }
}

@media screen and (min-width: 1200px) {
    #minimum__article {
        width: 1100px;
    }
}