#main__content {
    padding: 2rem 0.7rem;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

#minimum__article {
    text-transform: capitalize;
}

#minimum__text {
    font: bolder 1.05rem sans-serif;
}

#underline {
    height: 1px;
    width: 110px;
    background: #F4511E;
    margin-top: 2px;
}

#swimming__image {
    width: 100%;
    height: 45vh;
}

#aside {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.pay {
    display: flex;
    align-items: center;
}

.icons {
    color: #F4511E;
    padding: 0.5rem;
    box-shadow: -1px -1px 2px #57575749, 3px 5px 2px #5353535d;
    border-radius: 0.25rem;
    width: 30px;
    height: 30px;
}

.tag__line {
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 5px;
}

@media screen and (min-width: 500px) {
    #minimum__text {
        font: bolder 1.3rem sans-serif;
    }
    
    #underline {
        width: 213px;
    }
    
    #swimming__image {
        height: 50vh;
    }
    
    #aside {
        padding: 0.5rem;
    }
    
    .icons {
        width: 35px;
        height: 35px;
    }
    
    .tag__line {
        font-size: 0.99rem;
    }
}

@media screen and (min-width: 768px) {
    
}