#main__content {
    padding: 2rem 0.8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

#minimum__article,
#flexibility__article,
#property__article,
#reviews__article {
    text-transform: capitalize;
    min-height: 100vh;
}

#minimum__text,
#flexibility__h2 {
    font: bolder 1.05rem sans-serif;
}

.underline {
    height: 1px;
    width: 110px;
    background: #F4511E;
    margin-top: 2px;
}

#swimming__image {
    width: 100%;
    height: 45vh;
}

#aside {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 30px;
}

.pay {
    display: flex;
    align-items: center;
}

.icons {
    color: #F4511E;
    padding: 0.4rem;
    box-shadow: -1px -1px 2px #57575749, 3px 5px 2px #5353535d;
    border-radius: 0.25rem;
    width: 30px;
    height: 30px;
}

.tag__line {
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 5px;
}

/* flexibility article */

.colorme {
    color: #F4511E;
}

#flexibility__images {
    position: relative;
    height: 400px;
    width: 100%;
    margin: 30px 0;
}

.flexibility__h4 {
    color: #fff;
    font-weight: 600;
    font-size: 0.9rem;
    text-align: center;
    padding: 5px 0.7rem 0;
    border-radius: 0.5rem;
    width: 50%;
}

.bed {
    background: linear-gradient(-90deg, #0000001a, #00000081), url(../assets/bedinplaces.png)no-repeat center/cover;
    height: 195px;
    position: absolute;
    top: 0;
    left: 0;
}

.happy {
    background: linear-gradient(-90deg, #0000001a, #00000081), url(../assets/happy-guy.png)no-repeat center/cover;
    height: 155px;
    position: absolute;
    top: 40px;
    right: -5px;
}

.cleaning {
    background: linear-gradient(-90deg, #0000001a, #00000081), url(../assets/cleaning.png)no-repeat center/cover;
    height: 155px;
    width: 43%;
    position: absolute;
    bottom: 40px;
    left: 0;
}

.roommates {
    background: linear-gradient(-90deg, #0000001a, #00000081), url(../assets/roommates.png)no-repeat center/cover;
    height: 195px;
    width: 55%;
    position: absolute;
    bottom: 0;
    right: 0;
}

#flexibility__para,
#reviews__para {
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 1.45;
    margin: 15px 0;
}

#rooms__btn {
    text-decoration: none;
    border-radius: 0.3rem;
    padding: 0.4rem;
    background: #F4511E;
    color: #fff;
    font-size: 0.89rem;
}

/* form property */

#property__h2 {
    text-align: center;
    font: 500 0.91rem sans-serif;
}

#property__form {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.3rem;
    box-shadow: -1px -1px 3px #00000021, 3px 3px 1px #0000002a;
}

.header__label {
    font: 700 0.9rem sans-serif;
    margin: 10px 0;
}

#form__fields {
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
    padding: 0.5rem 0;
    width: 85%;
}

.label {
    font: 500 0.9rem sans-serif;
}

.fields {
    text-transform: capitalize;
    background: #F9F9F9;
    color: #737373;
    outline: 0;
    border: 1px solid #E6E6E6;
    width: 100%;
    height: 35px;
    border-radius: 0.2rem;
    padding: 0.3rem;
}

.description__field {
    resize: none;
    height: 100px;
}

.photo__field {
    border: 2px dotted #F4511E;
    height: 40px;
    position: relative;
    text-transform: none;
    color: #fff;
}

.photo__field::before {
    content: " or browse";
    position: absolute;
    right: 10%;
    color: #F4511E;
}

.photo__field::after {
    content: "Drag your images here,";
    position: absolute;
    left: 10%;
    color: #000;
}

.photo__field::-webkit-file-upload-button {
    border: 0;
    color: #F4511E;
    background: transparent;
    visibility: hidden;
}

::placeholder {
    text-transform: capitalize;
    color: #737373;
    padding: 0 0.2rem;
}

#add_new__btn {
    margin: 20px 0;
    height: 35px;
    width: 90%;
    color: #fff;
    background: #F4511E;
    text-transform: capitalize;
    place-self: center;
}

/* reviews__article */

#reviews__article {
    width: 106.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: hwb(14 12% 4% / 0.15);
}

.reviews__container {
    position: relative;
    height: 650px;
    width: 100%;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.reviews__info {
    position: absolute;
    bottom: 55px;
    width: 85%;
    display: flex;
    flex-direction: column;
}

.reviews__text {
    position: relative;
    text-transform: none;
}

.quote__icon {
    position: absolute;
    font-size: 2rem;
    top: 10px;
    left: -10px;
    z-index: -1;
    opacity: .4;
}

.reviews__profile {
    display: flex;
}

.profile__image {
    width: 60px;
    height: 60px;
    border: 2px solid #F4511E;
    border-radius: 50%;
}

.reviews__profile_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}

.reviews__profile_info big {
    font: 600 1rem sans-serif;
}

.reviews__profile_info small {
    font: 500 0.7rem sans-serif;
}

.reviews__video_placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background: linear-gradient(-90deg, #0000001a, #00000081), url(../assets/img-video-cover.jpg)no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 500px) {

    #minimum__text,
    #flexibility__h2 {
        font: bolder 1.15rem sans-serif;
    }

    .underline {
        width: 188px;
    }

    #swimming__image {
        height: 50vh;
    }

    #aside {
        padding: 0.5rem;
    }

    .icons {
        padding: 0.5rem;
        width: 35px;
        height: 35px;
    }

    .tag__line {
        font-size: 0.96rem;
        margin-left: 10px;
    }

    #flexibility__article {
        width: 490px;
        padding: 0 1rem;
    }

    #flexibility__images {
        height: 450px;
        width: 400px;
    }

    #flexibility__write_up {
        width: 420px;
    }

    .flexibility__h4 {
        font-size: 0.99rem;
    }

    .bed {
        height: 220px;
    }

    .happy {
        height: 180px;
    }

    .cleaning {
        height: 180px;
    }

    .roommates {
        height: 220px;
    }

    #flexibility__para {
        font-size: 0.9rem;
        margin: 20px 0;
    }

    #rooms__btn {
        padding: 0.5rem;
        transition: all 0.4s;
    }

    #rooms__btn:hover {
        color: #F4511E;
        background-color: #fff;
        box-shadow: -2px 0px 2px #57575749, 2px 3px 2px #5353535d;
    }

    /* property form */

    #property__article {
        margin: 4rem 1rem;
    }

    #form__fields {
        grid-template-columns: 48% 48%;
        width: 90%;
    }

    #add_new__btn {
        width: 80%;
    }

    #add_new__btn:hover {
        opacity: .8;
    }

    #property__h2 {
        font: 500 1.1rem sans-serif;
    }

    .header__label {
        font: 700 1.05rem sans-serif;
    }

    .description__field {
        height: 100px;
    }

    .photo__field {
        height: 50px;
        cursor: pointer;
        color: #000;
    }

    .photo__field::after,
    .photo__field::before {
        top: 50%;
    }

    .photo__field::before {
        left: 43.5%;
    }

    .span__ {
        grid-column: span 2;
    }
}

@media screen and (min-width: 768px) {

    #main__content {
        padding: 3rem 0 0;
    }

    #minimum__article {
        width: 97%;
    }

    #minimum__text,
    #flexibility__h2 {
        font: bolder 1.5rem sans-serif;
        translate: 4% 0;
    }

    #flexibility__h2 {
        translate: 0 !important;
    }

    .underline {
        translate: 18% 0;
        width: 245px;
    }

    #aside {
        grid-template-columns: repeat(3, 1fr);
        gap: 35px 15px;
    }

    #image__aside {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }

    .pay {
        flex-direction: column;
        align-items: flex-start;
    }

    .tag__line {
        font-size: 0.9rem;
        margin-left: 0;
        margin-top: 5px;
    }

    #flexibility__article {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 700px;
        gap: 0 25px;
    }

    #flexibility__images {
        width: 55%;
    }

    #flexibility__write_up {
        width: 45%;
    }

    #property__article {
        width: 700px;
    }

    #form__fields {
        grid-template-columns: repeat(3, 1fr);
        width: 95%;
    }

    #add_new__btn {
        width: 50%;
    }

    #property__h2 {
        font: 500 1.5rem sans-serif;
    }

    .header__label {
        font: 600 1.2rem sans-serif;
    }

    .photo__field::after,
    .photo__field::before {
        top: 50%;
    }

    .photo__field::before {
        left: 31%;
    }

    .span__ {
        grid-column: span 3;
    }

    /* reviews */

    #reviews__article {
       background: transparent;
       width: 100%;
    }
    .reviews__container {
        flex-direction: row;
        justify-content: space-between;
        background: hwb(14 12% 4% / 0.15);
        height: fit-content;
        padding: 0;
    }

    .reviews__info {
        position: relative;
        width: 45%;
        top: 0;
        left: 5%;
    }

    .reviews__video_placeholder {
        position: relative;
        width: 350px;
        height: 80vh;
    }
}

@media screen and (min-width: 1000px) {

    #flexibility__article {
        width: 900px;
        gap: 0 50px;
    }

    #flexibility__images {
        width: 40%;
    }

    #flexibility__write_up {
        width: 48%;
    }

    #flexibility__h2 {
        font-size: 1.7rem;
    }

    #flexibility__para {
        font-size: 1.1rem;
        margin: 25px 0;
    }

    #reviews__info {
        width: 40%;
    }

    #reviews__video_placeholder {
        width: 450px;
        height: 90vh;
    }

    #reviews__para {
        font-size: 1.1rem;
        font-style: italic;
    }
}

@media screen and (min-width: 1200px) {

    #minimum__article {
        width: 1100px;
    }

    #property__article {
        width: 900px;
    }
}