nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    position: absolute;
    top: 0;
    z-index: 10;
}

#nav__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0.8rem;
    width: 100%;
}

#logo__hamm__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#logo__hamm__container img {
    width: 110px;
    height: auto;
    cursor: pointer;
}

#hamm__btn {
    display: grid;
    background: #fff;
}

#hamm__btn:hover {
    box-shadow: -1px -2px 3px #a6a6b4, 1px 2px 3px #a6a6b4;
}

#menu__icon {
    width: 28px;
    height: 23px;
}

#navigation__unordered_list {
    display: block;
    padding: 1rem;
    list-style: none;
    color: #fff;
    font-size: 0.95rem;
    align-self: flex-start;
}

#navigation__unordered_list li {
    margin: 0.5rem 0;
    font-weight: 300;
    cursor: pointer;
    width: fit-content;
}

#navigation__unordered_list li:hover {
    text-shadow: -1px -2px 3px #a6a6b4, 1px 2px 3px #a6a6b4;
}

.active {
    color: #a6a6b4;
}

@media screen and (min-width: 650px) {
    #hamm__btn {
        display: none;
    }

    #nav__container {
        padding: 0.99rem 0.4rem;
        margin: 0 0 10px 3px;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 600px;
        border-bottom: 1px solid #a6a6b4;
    }

    #logo__hamm__container {
        width: auto;
    }

    #navigation__unordered_list {
        display: flex;
        align-items: center;
        list-style: none;
        color: #f0f0f0;
        font-size: 0.85rem;
        translate: 10% 20%;
    }

    #navigation__unordered_list li {
        padding: 0 0 1rem 0;
        margin: 0rem 0.75rem -1.55rem 0;
        width: 80px;
        display: grid;
        place-items: center;
        transition: all 0.5s;
    }

    .active {
        border-bottom: 3px solid #fff;
    }
}

@media screen and (min-width: 800px) {
    #nav__container {
        width: 600px;
    }
}

@media screen and (min-width: 1024px) {
    #nav__container {
        width: 900px;
    }

    #logo__hamm__container img {
        width: 130px;
        height: auto;
    }

    #navigation__unordered_list {
        translate: 50% 22%;
    }
}