nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    position: absolute;
    z-index: 10;
}

#nav__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0.8rem;
    width: 100%;
}

#logo__hamm__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#logo__hamm__container img {
    width: 110px;
    height: auto;
    cursor: pointer;
}

#hamm__btn {
    display: grid;
}

#menu__icon {
    width: 28px;
    height: 23px;
}

#navigation__unordered_list {
    display: block;
    padding: 1rem;
    list-style: none;
    color: #fff;
    font-size: 0.95rem;
    align-self: flex-start;
}

#navigation__unordered_list li {
    margin: 0.5rem 0;
    font-weight: 300;
    cursor: pointer;
    width: fit-content;
}

#navigation__unordered_list li:hover {
    color: #6e6e85;
}

.active {
    color: #a6a6b4;
}

@media screen and (min-width: 650px) {
    #hamm__btn {
        display: none;
    }

    #nav__container {
        padding: 0.5rem 0 0 0.4rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 600px;
        border-bottom: 1px solid #dfdfdf;
    }

    #logo__hamm__container {
        width: auto;
    }

    #navigation__unordered_list {
        display: flex;
        list-style: none;
        color: #f0f0f0;
        font-size: 0.85rem;
        align-self: auto;
        translate: 0 10%;
    }

    #navigation__unordered_list li {
        padding: 0 0 0.5rem 0;
        margin: 0rem 1rem -0.6rem 0;
        width: 60px;
        display: grid;
        place-items: center;
    }

    .active {
        border-bottom: 3px solid #d6d6d6;
        transition: all 0.5s;
    }
}

@media screen and (min-width: 800px) {
    #nav__container {
        width: 600px;
    }

    #navigation__unordered_list {
        margin: 0rem 0 0 6rem;
    }
}

@media screen and (min-width: 1024px) {
    #nav__container {
        width: 900px;
    }

    #navigation__unordered_list {
        margin: 0rem 0 0 10rem;
    }

    #logo__hamm__container img {
        width: 130px;
        height: auto;
    }
}